extends layout

// block content
//     if posts
//     each post, i in posts
//         .post
//             h1
//                 a(href='/posts/show/#{post._id}')
//                         =post.title
//             p.meta Posted in 
//                 a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
//             img(src='/images/uploads/#{post.image}')
//             !=truncateText(post.body, 400)
//             a.more(href='/posts/show/#{post._id}') Read more
//     else 
//         p.noposts There are no postes to display
block content
        .left-cont
            .lefttop-cont
                .profile-cont
                    .pic-cont
                        img(src='#{user.photo}')
                    .detail-cont
                        .name #{user.name}
                        .intro
                            | Life is beautiful when you realize it. Grateful for it.
                        .following-cont
                            div
                                div
                                    div
                                        | #{user.following.length} 
                                    div
                                        | Follwing
                            div
                                div
                                    div
                                        | #{user.followers.length} 
                                    div
                                        | Follower
                        .following-cont
            .leftbottom-cont
                .menulink.active
                    | Newsfeed
                .menulink
                    | Profile
                .menulink
                    | Settings
                .menulink
                    | Search
        .feed-wrap
            if user.posts
            each post, i in user.posts
                .feed-cont.clearfix
                    .feedpic-cont
                        img(src='/images/uploads/#{post.image}')
                    .feeddetail-cont
                        h3=post.title
                        !=truncateText(post.body, 400)
                        .feedreactcont.clearfix
                            .feedposter.pointer
                                .pic
                                    img(src='assets/img/faces/10.jpg')
                                .postername
                                    | Amitabh Kumar
                            .pull-right.heart-cont
                                .heart-react
                                    i.fa.fa-heart-o(aria-hidden='true')
                                .heart-number
                                    | 23
        article
            button.btn.btn-primary.btn-round
              | Follow
              .ripple-container

           
           
           
           
        